.box5{
  .box5_top_bj{
    width:59.375%;height:14.484126984126986%;top:1.3888888888888888%;left:1.7187500000000002%;
    z-index:5;
  }
  .box5-bj-right{
    width:22.1875%;height:5.952380952380952%;top:44.047619047619044%;
    left:74.21875%;z-index:5;
  }
  .box5-acter{
    width:97.1875%;height:51.28968253968254%;top:46.92460317460318%;
    left:1.7187500000000002%;z-index:10;
  }
  .box5-ul{
    width:75.3125%;height:auto;left:14.539623260498047%;top:19.246031746031747%;z-index:5;
    span{
      font-family:"黑体";color:rgb(255, 255, 255);font-size:px2Rem(30);
    }
  }
  .box5-title{
    width:56.25%;height:auto;left:14.534740447998045%;top:6.4484126984126995%;
    z-index:11;
    span{
      color:rgb(30, 30, 30);font-size:px2Rem(36);font-family:"黑体";
    }
  }
}