.box3{
  .box3-bj1{
    width:53.43750000000001%;height:14.682539682539684%;
    position:absolute;top:2.380952380952381%;left:8.125%;z-index:2;
  }
  .box3-bj2{
    width:65.625%;height:14.285714285714285%;position:absolute;top:12.103174603174603%;left:4.0625%;
    z-index:2;
  }
  .box3-bj3{
    width:22.1875%;height:5.952380952380952%;position:absolute;top:50%;left:73.75%;
    z-index:2;
  }
  .box3-bj4{
    width:39.6875%;height:15.476190476190476%;position:absolute;top:50%;left:7.968749999999999%;
    z-index:2;
  }
  .box3-bj5{
    width:75.46875%;height:38.88888888888889%;position:absolute;top:58.333333333333336%;left:13.593749999999998%;
    z-index:2;
  }
  .box3-text1{
    width:56.25%;height:auto;position:absolute;left:16.875%;top:6.547619047619048%;z-index:10;
    span{
      font-family:"黑体";font-size:px2Rem(48);line-height:px2Rem(48);color:rgb(30, 30, 30);
    }
  }
  .box3-text2{
    width:32.5%;height:auto;position:absolute;left:20.625%;top:17.46031746031746%;z-index:10;
    span{
      font-family:"黑体";font-size:px2Rem(36);line-height:px2Rem(36);color:#666666;
    }
  }
  .box3-stars-1{
    width:11.875%;height:6.944444444444445%;position:absolute;top:24.6031746031746%;
    left:14.6875%;z-index:5;
  }
  .box3-stars-2{
    width:11.875%;height:6.944444444444445%;position:absolute;top:31.547619047619047%;
    left:14.374999999999998%;z-index:5;
  }
  .box3-stars-3{
    width:11.875%;height:6.944444444444445%;position:absolute;top:38.095238095238095%;
    left:14.374999999999998%;z-index:5;
  }
  .box3-li-1{
    position:absolute;top:26.38888888888889%;
    left:26.875%;width:56.25%;height:auto;z-index:5;
    span{
     color:rgb(30, 30, 30);font-size:px2Rem(26);line-height:px2Rem(26);font-family:"黑体";
    }
  }
  .box3-li-2{
    position:absolute;top:33.33333333333333%;
    left:26.875%;width:56.25%;height:auto;z-index:5;
    span{
      color:rgb(30, 30, 30);font-size:px2Rem(26);line-height:px2Rem(26);font-family:"黑体";
    }
  }
  .box3-li-3{
    position:absolute;top:39.88095238095239%;
    left:26.875%;width:56.25%;height:auto;z-index:5;
    span{
      color:rgb(30, 30, 30);font-size:px2Rem(26);line-height:px2Rem(26);font-family:"黑体";
    }
  }
}