@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: 100%; }

.box1 .b1-bj img {
  width: 100%;
  height: 100%; }

li, ul {
  list-style: none; }

.box1 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box2 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box3 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box4 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box5 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box6 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box7 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box8 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.box9 {
  background: url(../images/bj.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

.swiper-container {
  width: 100%;
  height: 100%;
  max-width: 10rem; }

.absolu {
  position: absolute; }

/*music*/
.mymusic {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: 0.46875rem;
  top: 0.625rem;
  z-index: 100; }
  .mymusic .music-box {
    width: 100%;
    height: 100%;
    position: relative; }
    .mymusic .music-box .music-bo {
      position: absolute;
      transform-origin: 50% 50%;
      width: 100%;
      height: 100%;
      z-index: 80; }
      .mymusic .music-box .music-bo.start {
        animation: rotat 1s linear infinite; }
      .mymusic .music-box .music-bo img {
        width: 100%;
        height: 100%; }
    .mymusic .music-box .music-bj {
      width: 1.5625rem;
      height: 1.5625rem;
      position: absolute;
      z-index: 100;
      background: url(../images/music-bj.gif) no-repeat;
      background-size: contain; }

@keyframes rotat {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }
/*png*/
.myset {
  width: 0.85938rem;
  height: auto;
  position: absolute;
  top: 93.055%;
  left: 42.656%;
  z-index: 100; }
  .myset .set-png {
    display: block;
    background: url(../images/set.png) no-repeat;
    width: 0.75rem;
    height: 0.5625rem;
    position: absolute;
    left: 50%;
    animation: toUp 1.5s infinite ease-in-out; }

@keyframes toUp {
  from {
    top: 0.375rem;
    opacity: 1; }
  to {
    top: 0rem;
    opacity: 0; } }
.box1 .b1-bj {
  position: absolute;
  width: 83.59375%;
  height: 74.0079365079365%;
  left: 7.656250000000001%;
  top: 0;
  z-index: 1; }
.box1 .b1-text {
  width: 69.9%;
  height: 18.9%;
  position: absolute;
  left: 4.53%;
  top: 2.48%;
  z-index: 2; }
.box1 .b1-text1 {
  width: 71.40625%;
  height: 13.988095238095239%;
  position: absolute;
  z-index: 2;
  top: 17.261904761904763%;
  left: 20.46875%; }
.box1 .b1-log {
  position: absolute;
  z-index: 3;
  width: 35.9375%;
  height: 19.047619047619047%;
  left: 2.5%;
  top: 30.158730158730158%; }
  .box1 .b1-log img {
    transform: rotate(33deg); }
.box1 .b1-log-title {
  position: absolute;
  z-index: 4;
  width: 19.375%;
  height: auto;
  top: 36.904761904761905%;
  line-height: 1rem;
  left: 11.875%; }
  .box1 .b1-log-title span {
    color: #1e1e1e;
    font-size: 1rem;
    font-family: "黑体"; }
.box1 .b1-box {
  width: 82.8125%;
  height: 62.10317460317461%;
  position: absolute;
  top: 37.89682539682539%;
  left: 4.84375%;
  z-index: 5; }
  .box1 .b1-box.start {
    animation: rToL 2s  5.5s  infinite forwards; }
  .box1 .b1-box img {
    width: 100%;
    height: 100%; }
.box1 .box1-bottom1-bj {
  width: 30%;
  height: 12.103174603174603%;
  position: absolute;
  top: 81.94444444444444%;
  z-index: 4;
  left: 69.0625%; }
.box1 .box1-bottom1-bj-text {
  width: 26.25%;
  height: auto;
  position: absolute;
  top: 85.41666666666666%;
  left: 74.375%;
  z-index: 6; }
  .box1 .box1-bottom1-bj-text span {
    font-family: "黑体";
    color: #1e1e1e;
    font-size: 0.5rem;
    line-height: 0.5rem; }

@keyframes rToL {
  0% {
    transform: translateX(4.84375%); }
  35% {
    transform: translateX(14.84375%); }
  50% {
    transform: translateX(4.84375%); }
  85% {
    transform: translateX(-6.84375%); }
  100% {
    transform: translateX(4.84375%); } }
.box2 .box2-acter {
  width: 64.84375%;
  height: 60.21825396825397%;
  position: absolute;
  top: 20.436507936507937%;
  left: 14.0625%;
  z-index: 10; }
.box2 .boxRedbj {
  width: 100%;
  height: 29.86111111111111%;
  position: absolute;
  top: 70.13888888888889%;
  left: 0;
  z-index: 1; }
.box2 .box-gress {
  width: 85.78125%;
  height: 24.702380952380953%;
  position: absolute;
  top: 48.80952380952381%;
  left: 5.78125%;
  z-index: 2; }
.box2 .box2-stars {
  width: 85.3125%;
  height: 44.047619047619044%;
  position: absolute;
  top: 14.682539682539684%;
  left: 7.34375%;
  z-index: 4; }
.box2 .bo2-top-bj {
  position: absolute;
  width: 79.6875%;
  height: 20.238095238095237%;
  top: 1.984126984126984%;
  left: 7.34375%;
  z-index: 5; }
.box2 .bj-text {
  width: 56.25%;
  height: auto;
  position: absolute;
  top: 9.126984126984127%;
  left: 25.624999999999996%;
  z-index: 6; }
  .box2 .bj-text span {
    font-family: "黑体";
    color: #1e1e1e;
    font-size: 0.875rem;
    line-height: 0.875rem; }
.box2 .box2-bottom-bj {
  width: 88.75%;
  height: 22.817460317460316%;
  left: 9.375%;
  position: absolute;
  top: 77.18253968253968%;
  z-index: 2; }
.box2 .box2-bottom-t1 {
  width: 61.25000000000001%;
  position: absolute;
  height: auto;
  left: 23.4375%;
  top: 83.53174603174604%;
  z-index: 3; }
  .box2 .box2-bottom-t1 span {
    font-family: "黑体";
    font-size: 0.75rem;
    color: #666666;
    line-height: 0.75rem; }
.box2 .box2-bottom-t2 {
  width: 70.625%;
  position: absolute;
  height: auto;
  left: 20.3125%;
  top: 89.68253968253968%;
  z-index: 3; }
  .box2 .box2-bottom-t2 span {
    font-family: "黑体";
    font-size: 0.75rem;
    color: #666666;
    line-height: 0.75rem; }

.box3 .box3-bj1 {
  width: 53.43750000000001%;
  height: 14.682539682539684%;
  position: absolute;
  top: 2.380952380952381%;
  left: 8.125%;
  z-index: 2; }
.box3 .box3-bj2 {
  width: 65.625%;
  height: 14.285714285714285%;
  position: absolute;
  top: 12.103174603174603%;
  left: 4.0625%;
  z-index: 2; }
.box3 .box3-bj3 {
  width: 22.1875%;
  height: 5.952380952380952%;
  position: absolute;
  top: 50%;
  left: 73.75%;
  z-index: 2; }
.box3 .box3-bj4 {
  width: 39.6875%;
  height: 15.476190476190476%;
  position: absolute;
  top: 50%;
  left: 7.968749999999999%;
  z-index: 2; }
.box3 .box3-bj5 {
  width: 75.46875%;
  height: 38.88888888888889%;
  position: absolute;
  top: 58.333333333333336%;
  left: 13.593749999999998%;
  z-index: 2; }
.box3 .box3-text1 {
  width: 56.25%;
  height: auto;
  position: absolute;
  left: 16.875%;
  top: 6.547619047619048%;
  z-index: 10; }
  .box3 .box3-text1 span {
    font-family: "黑体";
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #1e1e1e; }
.box3 .box3-text2 {
  width: 32.5%;
  height: auto;
  position: absolute;
  left: 20.625%;
  top: 17.46031746031746%;
  z-index: 10; }
  .box3 .box3-text2 span {
    font-family: "黑体";
    font-size: 0.5625rem;
    line-height: 0.5625rem;
    color: #666666; }
.box3 .box3-stars-1 {
  width: 11.875%;
  height: 6.944444444444445%;
  position: absolute;
  top: 24.6031746031746%;
  left: 14.6875%;
  z-index: 5; }
.box3 .box3-stars-2 {
  width: 11.875%;
  height: 6.944444444444445%;
  position: absolute;
  top: 31.547619047619047%;
  left: 14.374999999999998%;
  z-index: 5; }
.box3 .box3-stars-3 {
  width: 11.875%;
  height: 6.944444444444445%;
  position: absolute;
  top: 38.095238095238095%;
  left: 14.374999999999998%;
  z-index: 5; }
.box3 .box3-li-1 {
  position: absolute;
  top: 26.38888888888889%;
  left: 26.875%;
  width: 56.25%;
  height: auto;
  z-index: 5; }
  .box3 .box3-li-1 span {
    color: #1e1e1e;
    font-size: 0.40625rem;
    line-height: 0.40625rem;
    font-family: "黑体"; }
.box3 .box3-li-2 {
  position: absolute;
  top: 33.33333333333333%;
  left: 26.875%;
  width: 56.25%;
  height: auto;
  z-index: 5; }
  .box3 .box3-li-2 span {
    color: #1e1e1e;
    font-size: 0.40625rem;
    line-height: 0.40625rem;
    font-family: "黑体"; }
.box3 .box3-li-3 {
  position: absolute;
  top: 39.88095238095239%;
  left: 26.875%;
  width: 56.25%;
  height: auto;
  z-index: 5; }
  .box3 .box3-li-3 span {
    color: #1e1e1e;
    font-size: 0.40625rem;
    line-height: 0.40625rem;
    font-family: "黑体"; }

.box4 .box4-acter {
  width: 80.3125%;
  height: 57.24206349206349%;
  top: 3.869047619047619%;
  left: 19.6875%;
  z-index: 5; }
.box4 .box4-bj2 {
  width: 54.0625%;
  height: 15.674603174603174%;
  top: 55.35714285714286%;
  left: -1.5625%;
  z-index: 6; }
.box4 .box4-bj3 {
  width: 31.25%;
  height: 11.507936507936508%;
  top: 2.1825396825396823%;
  left: 2.5%;
  z-index: 6; }
  .box4 .box4-bj3 img {
    transform: rotate(343deg); }
.box4 .box4-bj4 {
  width: 22.1875%;
  height: 5.952380952380952%;
  left: 66.40625%;
  top: 90.87301587301587%;
  z-index: 5; }
.box4 .box4-ul {
  width: 75.3125%;
  height: auto;
  top: 72.02380952380952%;
  left: 13.28125%;
  z-index: 6; }
  .box4 .box4-ul span {
    color: white;
    line-height: 0.53125rem;
    font-family: "黑体";
    font-size: 0.4375rem; }
.box4 .box4-top-text {
  width: 56.25%;
  height: auto;
  left: 4.383373260498047%;
  top: 2.343410915798611%;
  z-index: 10; }
  .box4 .box4-top-text span {
    display: block;
    width: 100%;
    font-size: 0.5625rem;
    color: #1e1e1e;
    line-height: 0.5625rem;
    font-family: "黑体";
    transform: rotate(341deg); }
.box4 .box4-bottom-text {
  width: 56.25%;
  height: auto;
  left: 8.133373260498047%;
  top: 60.416666666666664%;
  z-index: 10; }
  .box4 .box4-bottom-text span {
    width: 100%;
    font-size: 0.5625rem;
    color: #1e1e1e;
    line-height: 0.5625rem;
    font-family: "黑体"; }

.box5 .box5_top_bj {
  width: 59.375%;
  height: 14.484126984126986%;
  top: 1.3888888888888888%;
  left: 1.7187500000000002%;
  z-index: 5; }
.box5 .box5-bj-right {
  width: 22.1875%;
  height: 5.952380952380952%;
  top: 44.047619047619044%;
  left: 74.21875%;
  z-index: 5; }
.box5 .box5-acter {
  width: 97.1875%;
  height: 51.28968253968254%;
  top: 46.92460317460318%;
  left: 1.7187500000000002%;
  z-index: 10; }
.box5 .box5-ul {
  width: 75.3125%;
  height: auto;
  left: 14.539623260498047%;
  top: 19.246031746031747%;
  z-index: 5; }
  .box5 .box5-ul span {
    font-family: "黑体";
    color: white;
    font-size: 0.46875rem; }
.box5 .box5-title {
  width: 56.25%;
  height: auto;
  left: 14.534740447998045%;
  top: 6.4484126984126995%;
  z-index: 11; }
  .box5 .box5-title span {
    color: #1e1e1e;
    font-size: 0.5625rem;
    font-family: "黑体"; }

.box6 .box6-bj {
  width: 79.6875%;
  height: 82.44047619047619%;
  left: 10%;
  top: 10.912698412698413%;
  z-index: 1; }
.box6 .box6-acter {
  width: 76.25%;
  height: 28.373015873015873%;
  left: 11.875%;
  top: 11.706349206349206%;
  z-index: 5; }
.box6 .box6-viedo {
  width: 16.40625%;
  height: 11.706349206349206%;
  left: 41.25%;
  top: 24.206349206349206%;
  z-index: 6; }
.box6 .box6-bj-center {
  width: 59.06249999999999%;
  height: 11.706349206349206%;
  top: 44.14682539682539%;
  z-index: 5;
  left: 21.875%; }
.box6 .box6-center-text {
  width: 37.5%;
  height: auto;
  left: 35.3125%;
  top: 47.22222222222222%;
  z-index: 7; }
  .box6 .box6-center-text span {
    font-family: "黑体";
    color: #666666;
    font-size: 0.5625rem;
    line-height: 0.5625rem; }
.box6 .box6-title {
  width: 56.25%;
  height: auto;
  top: 54.067460317460316%;
  left: 33.75%;
  z-index: 6; }
  .box6 .box6-title span {
    color: #666666;
    font-size: 0.40625rem;
    line-height: 0.40625rem;
    font-family: "黑体"; }
.box6 .box6-content {
  width: 56.25%;
  height: auto;
  top: 58.23412698412699%;
  left: 28.749999999999996%;
  z-index: 6; }
  .box6 .box6-content.rows_1 {
    width: 21.875%;
    top: 62.698412698412696%;
    left: 39.0625%; }
  .box6 .box6-content.rows_2 {
    width: 44.6875%;
    top: 67.26190476190477%;
    left: 30%; }
  .box6 .box6-content.rows_3 {
    width: 44.6875%;
    top: 71.62698412698413%;
    left: 31.25%; }
  .box6 .box6-content span {
    color: white;
    font-size: 0.40625rem;
    font-family: "黑体"; }
.box6 .box6-border {
  width: 86.40625%;
  height: 87.00396825396825%;
  top: 8.928571428571429%;
  left: 5.78125%;
  z-index: 1; }

.box7 .acter-left {
  width: 32.1875%;
  height: 30.357142857142854%;
  left: 7.187499999999999%;
  top: 25.793650793650798%;
  z-index: 5; }
.box7 .acter-center {
  width: 25.156250000000004%;
  height: 31.150793650793652%;
  left: 37.8125%;
  top: 33.92857142857143%;
  z-index: 5; }
.box7 .acter-right {
  width: 33.75%;
  height: 30.257936507936506%;
  left: 59.84374999999999%;
  top: 23.41269841269841%;
  z-index: 5; }
.box7 .box7-top-bj {
  width: 51.09375000000001%;
  height: 25.496031746031743%;
  top: 6.349206349206349%;
  left: 22.8125%;
  z-index: 8; }
.box7 .box7-bottom-bip {
  width: 83.28125%;
  height: 4.464285714285714%;
  top: 84.02777777777779%;
  left: 11.09375%;
  z-index: 6; }
.box7 .box7-bottom-bj {
  width: 96.5625%;
  height: 12.896825396825399%;
  top: 67.06349206349206%;
  left: 3.4375000000000004%;
  z-index: 5; }
.box7 .box7-email {
  width: 66.5625%;
  height: auto;
  left: 16.09375%;
  top: 71.92460317460318%;
  z-index: 10; }
  .box7 .box7-email span {
    color: #666666;
    font-family: "黑体";
    font-size: 0.46875rem;
    line-height: 0.5rem; }
.box7 .box7-logo {
  width: 17.1875%;
  height: auto;
  left: 42.65625%;
  top: 93.05555555555556%;
  z-index: 11; }
  .box7 .box7-logo span {
    color: #1e1e1e;
    font-family: "黑体";
    font-size: 0.75rem;
    line-height: 0.75rem; }

.box8 .b8-top-bj {
  width: 51.09375000000001%;
  height: 25.496031746031743%;
  top: 6.349206349206349%;
  left: 22.8125%;
  z-index: 10; }
.box8 .b8-bottom-log {
  width: 19.375%;
  height: auto;
  top: 91.46825396825396%;
  left: 43.75%;
  z-index: 12; }
  .box8 .b8-bottom-log span {
    color: #1e1e1e;
    font-family: "黑体";
    font-size: 0.75rem;
    line-height: 0.75rem; }
.box8 .b9-form {
  width: 84.375%;
  height: auto;
  left: 9.375%;
  top: 31.746031746031743%;
  z-index: 10; }
  .box8 .b9-form form {
    background: #89bded;
    color: #fff;
    width: auto;
    height: auto;
    padding: 0.625rem 0; }
    .box8 .b9-form form .form-input {
      width: 100%;
      text-align: center;
      margin-bottom: 0.28125rem;
      line-height: 1.0625rem; }
      .box8 .b9-form form .form-input input {
        width: 80%;
        line-height: 1.0625rem;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 0 auto;
        color: #999;
        text-indent: 0.375rem; }
      .box8 .b9-form form .form-input .input-sub {
        max-width: 80%;
        width: auto;
        height: auto;
        background: #eb8233;
        color: #fff;
        padding: 0 0.625rem;
        text-indent: 0rem; }

.box9 .b9-top-text {
  width: 69.6875%;
  height: auto;
  left: 20.15625%;
  top: 11.507936507936508%;
  z-index: 5; }
  .box9 .b9-top-text span {
    color: #fffb00;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: "黑体"; }
.box9 .b9-code {
  width: 37.96875%;
  height: 24.107142857142858%;
  top: 30.456349206349202%;
  left: 30.625000000000004%;
  z-index: 10; }
.box9 .b9-acter-left {
  width: 28.90625%;
  height: 22.22222222222222%;
  top: 40.27777777777778%;
  left: 1.09375%;
  z-index: 10; }
.box9 .b9-acter-right {
  width: 25.937500000000004%;
  height: 26.785714285714285%;
  top: 38.88888888888889%;
  left: 68.59375%;
  z-index: 10; }
.box9 .b9-center-text {
  width: 56.25%;
  height: auto;
  top: 57.53968253968254%;
  left: 29.843750000000004%;
  z-index: 10; }
  .box9 .b9-center-text span {
    font-family: "黑体";
    font-size: 0.5625rem;
    color: #1e1e1e;
    line-height: 0.5625rem; }
.box9 .b9-number {
  width: 53.28125%;
  height: 3.670634920634921%;
  left: 24.84375%;
  top: 71.62698412698413%;
  z-index: 10; }
.box9 .b9-qq {
  width: 44.21875%;
  height: 3.571428571428571%;
  top: 78.07539682539682%;
  left: 25.937500000000004%;
  z-index: 10; }
.box9 .b9-button {
  width: 40%;
  height: 7.142857142857142%;
  top: 87.20238095238095%;
  left: 28.59375%;
  z-index: 10; }
  .box9 .b9-button a {
    width: 100%;
    height: 100%;
    background-color: #F28615; }
    .box9 .b9-button a button {
      border-radius: 25px;
      border: 1px solid #F28615;
      color: #fff;
      width: 100%;
      height: 100%;
      background-image: url(../images/call.png);
      background-repeat: no-repeat;
      text-align: center;
      background-position: 16px center;
      background-color: #F28615;
      font-size: 0.5625rem;
      line-height: 1.125rem; }

/*# sourceMappingURL=main.css.map */
