
.box3{
  @extend %bx;
  .box3-shangp-bj{
    width:px2Rem(450);height:px2Rem(234);position:absolute;left:50%;top:50%;
    z-index:8;opacity: 1;
    img{
      width:100%;height:100%;
    }
    &.less1{
      margin-left:px2Rem(-226);margin-top:px2Rem(-372);
    }
    &.less2{
      margin-left:px2Rem(-226);margin-top:px2Rem(-118);
    }
  }
  .shangp-pic{
    width:px2Rem(188);height:px2Rem(188);position:absolute;left:50%;top:50%;
    z-index:10;
    &.less1{
      margin-top:px2Rem(-346);margin-left:px2Rem(-206);
    }
    &.less2{
      margin-top:px2Rem(-94);margin-left:px2Rem(16);
    }
    a{
      display:block;width:100%;height:100%;
      img{
        width:100%;height:100%;
      }
    }
  }
  .hot-price{
    position:absolute;left:50%;top:50%;width:px2Rem(216);height:px2Rem(188);z-index:10;
    &.less1{
      margin-top:px2Rem(-338);margin-left:px2Rem(0);
    }
    &.less2{
      margin-top:px2Rem(-88);margin-left:px2Rem(-198);
    }
    ul{
      li{
        color:#ff0000;
        font-size:px2Rem(24);
        &:first-of-type{
          font-size:px2Rem(28);color:#000;height:px2Rem(46);margin-bottom:px2Rem(4);
        }
        width:px2Rem(218);height:px2Rem(34);line-height:px2Rem(34);
      }
    }
  }
  .shangp-btn{
    width:px2Rem(164);height:px2Rem(44);position:absolute;top:50%;left:50%;
    z-index:13;
    &.less1{
      margin-top:px2Rem(-211);margin-left:px2Rem(0);
    }
    &.less2{
      margin-top:px2Rem(39);margin-left:px2Rem(-198);
    }
    a{
      color:#fff;background-color:#ff0000;width:100%;height:100%;text-align:center;
      line-height:px2Rem(44);font-size:px2Rem(24);display:block;
    }
  }
}
//@keyframes rotateBj{
//   0%{
//   transform:rotate(1,0,0,45deg);opacity:0;
//  }25%{
//        transform:rotate(1,0,0,-45deg);
//  }50%{
//           transform:rotate(1,0,0,20deg);
//  }75%{
//              transform:rotate(1,0,0,-20deg);
//  }100%{
//                 transform:rotate(1,0,0,0deg);
//  }
//}